
---
layout: layout
---

<%
  const team = site.data.about.team;
%>

<main class="contents about">
  <h2>Source code</h2>
  <div class="code">
    <a href="https://codeberg.org/fediverse/fediparty">repository</a> | <a href="https://codeberg.org/lostinlight/distributopia/src/branch/main/all-logos-in-one-basket">logo hub</a>
  </div>
  <h2>Donate</h2>
  <div class="code"><a href="https://boosty.to/fediparty">Boosty.to</a> - thank you! 🧡</div>
  <h2>About us</h2>
  <% for (u in team) { %>
  <ul>
    <li><img src="<%= team[u].avatar %>" alt="avatar"></li>
    <li>• <span>nickname: </span> <%= team[u].nickname %></li>
    <% if (team[u].name) { %>
      <li>• <span>name: </span> <%= team[u].name %></li>
    <% } %>
    <% if (team[u].site) { %>
      <li>• <span>site:</span> <a href="https://<%= team[u].site %>"><%= team[u].site %></a></li>
    <% } %>
    <li>• <span>fedi account:</span> <a href="https://<%= team[u].fediacc %>"><%= team[u].fediacc %></a></li>
    <% if (team[u].gitaccs && team[u].gitaccs.length) { %>
      <li>• <span>code:</span>
      <% for (let i = 0; i < team[u].gitaccs.length - 1; ++i) { %>
        <a href="https://<%= team[u].gitaccs[i] %>"><%= team[u].gitaccs[i] %></a>,
      <% } %>
      <a href="https://<%= team[u].gitaccs[ team[u].gitaccs.length - 1 ] %>"><%= team[u].gitaccs[ team[u].gitaccs.length - 1 ] %></a>
      </li>
    <% } %>
    <li>• <span>info:</span> <%= team[u].info %></li>
  </ul>
  <% } %>
</main>
